---
---
@import "minima";

body {
  background-color: #000000 !important;
  color: #ffffff !important;
}

a {
  color: #00ffcc !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffcc00 !important;
}

nav, header, footer {
  background-color: #000000 !important;
}
